body {
  background-color: rgb(8, 8, 12);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#user-list {
  position: absolute;
  right: 1%;
}
.login {
  color: white;
  text-align: center;
}
.register {
  color: white;
  text-align: center;
}
input{
  margin-bottom: 12px;
  width: 250px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}
input:active,
input:hover,
input:focus{
  border-bottom: 3px solid #1c1a22;
}
.submitbtn{
  width: 80px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #1c1a22;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}
.submitbtn:active,
.submitbtn:hover{
  background-color: #ffffff54;
}
footer{
  position: fixed;
  bottom: 5px;
  left: 5px;
  color: white;
}
.carousel-item img {
  width: auto !important;
  height: 400px;
  max-height: 400px;
}
.login-data{
  position: absolute;  
  text-align: center;
  left: 47%; 
  transform: translate(-50%,);
}
.profile-picture{
  width: 40px;
  height: auto;
}

.listUsers {
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  white-space: nowrap;
  width: 1000px;

}
.list li {
  background-color: #f0f0f0;
  display: table-row;
  color: #5c5c5c;
}

.li-nametag{
  background-color: #1c1a22;
  color: rgb(214, 214, 214);
  font-weight: bold;
}

.list span {
  text-align: center;
  display: table-cell;
  padding: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle; 
}

#logged-avatar{
height: auto;
width: 80px;
}

#login-username{
  color:#f0f0f0;
  font-weight: bold;
}
.login-data{
  display: inline grid;
}
.card{
 margin: 50px;
}
#art-heading{
  color: white;
  text-align: center;
  margin-top: 15px;
}
.card-autor{
  color: rgb(160, 160, 160);
}
.submitbtn{
  width: 160px;
  height: 40px;
}
.art-textarea{
  width:  400px;
  text-align: left;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#pagination{
  height: 38px;
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.navbar-brand{
  margin-right: 20px;
  font-weight: bold;
}
.card{
  width: 400px;
  margin-bottom: 45px;
  margin-top: 45px;
}
.cards{
  display: grid;
  grid-template-columns: 500px 500px 500px;
  justify-content: center;
}

@media (max-width: 1500px){
  .cards{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
  }
}

@media (max-width: 1000px){
  .cards{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
  }
}
.navbar{
  border-bottom: 1px solid rgb(231, 231, 231);
}
.error{
  color: red;
}
.container{
  position: relative;
  margin-bottom: 30px;
}
#h2-welcome{
  color: white;
  text-align: center;
}
#twitch-icon{
  width: 38px;
  height: auto;
  position: fixed;
  bottom: 4px;
  right: 4px;
}
@media only screen and (max-width: 768px) {
  .nav-item{
    margin-left: 25px;
  }
  .login-data{
    position: relative;
    left: 0;
    margin-top: 20px;
    margin-top: 10px;
    text-align: left;
  }
  .profile-picture{
    display: none;
  }
  .container{
    padding: 0;
  }
  .d-block{
    height: 100% !important;
    width:  100% !important;
  }
  .carousel-inner,s
  .carousel-item{
      width: 500px;
      height: 400px;
      right: 0px;
      margin-right: auto;
      margin-left: auto;
  }
}
@media only screen and (max-width: 480px) {
.container{
    padding: 0;
  }
  .d-block{
    height: 100% !important;
    width:  100% !important;
  }
  .carousel-inner,
  .carousel-item{
      width: 400px;
      height: 320px;
      left: 0px;
      margin-right: auto;
      margin-left: auto;
  }
  .carousel-control-next{
    right: 35px;
  }
  .carousel-control-prev{
    left: 35px;
  }
  html, body{
    min-width: 390px;
  }
}
.navbar-toggler{
  margin-right: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
#register-button{
  margin-right: 10px;
}
#navbar-brand-img{
  width: 76px;
  height: auto;
}
.index-message{
  color: green;
  position: fixed;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


/* PROFILE URL CSS */

.header{
  margin-bottom: 50px;
}
#profile-profilepicture{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6%;
  margin-bottom: 12px;
  width: 128px;
  height: auto;
  border: 2px solid white;
  border-radius: 4px;
}
#profile-username{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 5px;
}
.profile-bio{
text-align: center;
color: rgba(158, 158, 158, 0.521);
}
.profile-element{ 
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 270px;
}
.profile-nametag{
  margin-bottom: 0;
  color: #8a8a8a;
}
.profile-info{
  border: 1px solid rgb(66, 66, 66);
  border-radius: 6px;
  padding: 3px;
}
.profile-name{
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  text-align: center;
}
#profile-firstname{
  margin-right: 15px;
  width: 120px;
}
#profile-lastname{
  margin-left: 15px;
  width: 120px;
}