.custom-button {
  background-color: #5900ff;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.custom-button:active,
.custom-button:hover{
  background-color: #ffffff54;
}
body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#user-list {
  position: absolute;
  right: 1%;
}
#home {
  background-color: #5900ff;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
#home:active,
#home:hover{
  background-color: #ffffff54;
}
.login {
  color: white;
  text-align: center;
}
.register {
  color: white;
  text-align: center;
}
input{
  margin-bottom: 8px;
  width: 180px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}
input:active,
input:hover,
input:focus{
  border-bottom: 3px solid #5900ff;
}
input[type=submit]{
  width: 80px;
  height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #5900ff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}
input[type=submit]:active,
input[type=submit]:hover{
  background-color: #ffffff54;
}
footer{
  position: fixed;
  bottom: 5px;
  left: 5px;
  color: white;
}
.carousel-item img {
  width: auto !important;
  height: 400px;
  max-height: 400px;
}
.login-data{
  position: absolute;  
  text-align: center;
  left: 50%; 
  transform: translate(-50%,);
}
.profile-picture{
  width: 40px;
  height: auto;
}

.listUsers {
    position: absolute;
    top: 60%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  white-space: nowrap;
  width: 1000px;

}

.list li {
  background-color: #f0f0f0;
  display: table-row;
  color: #5c5c5c;
}

.li-nametag{
  background-color: #1c1a22;
  color: rgb(214, 214, 214);
  font-weight: bold;
}

.list span {
  text-align: center;
  display: table-cell;
  padding: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle; 
}

#logged-avatar{
height: auto;
width: 80px;
}

#login-username{
  color:#f0f0f0;
  font-weight: bold;
}
.login-data{
  display: inline grid;
}
.card{
 margin: 50px;
}
#art-heading{
  color: white;
  text-align: center;
}
.card-autor{
  color: rgb(160, 160, 160);
}
#pagination{
  position: absolute;
  margin: auto;
  margin-top: 30px;
  width: 19%;
  padding: 10px;
}